.heading-name {
  font-size: 3rem;
}

.list-skills-item{
	display: inline-flex;
	width: 47%;
}
.list-skills-item:nth-child(odd) {
	margin-right: 2%;
}

.list-skills-item .progress-title{
	flex-grow: 100;
	margin-left:10px;
}

.list-skills-item .progress-title .progress{
	height: 20px;
	border: 1px solid #cecece;
	width: 100%;
	-webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important; 
}

.list-skills-item .progress-title .title{
	width: 100%;
	font-size: 1rem;
}

.list-skills-item .icon{
	display: inline-flex;
	vertical-align: middle;
	width:48px;
}

.list-skills-item .icon .fas{
	width: 100%;
	text-align: center;
}

.subheading.mb-3{
	border-bottom:1px solid #bdbdbd;
	margin-bottom:10px;
}

@media screen and (min-width: 1024px) {
    /* Styles go here */
	.list-inline.list-icons{
		padding-left:30px;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial',serif;
    font-weight: 700;
    text-transform: none;
    color: #343a40;
}

h2{
	font-size: 2.7rem;
}

h3{
	font-family: 'Tahoma',serif;
	font-weight: 400;
}

.subheading {
    text-transform: none;
    font-weight: 500;
    font-family: 'Tahoma',serif;
    font-size: 1.35rem;
}

.soft-skill{
	border-left:2px solid #0079BF;
	margin-bottom:2rem;
	padding: 10px;
}

.soft-skill.negative{
	border-color: #ed2828;
}

.soft-skill p{
	margin-bottom: 0;
}

.soft-skill-heading{
	margin-bottom:1rem;
}

.list-inline.list-languages{
	padding-top:2rem;
	padding-bottom:2rem;
}

.only-print {
	visibility: hidden;
}

.btn-download{
	border: 1px solid;
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#main-pic-holder img{
	width:100%;
	border: 1px solid #bdbdbd;
}

#main-pic-holder{
	display: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .only-print, .only-print *
    {
    	visibility: visible !important;
    }

    .my-auto {
    	margin: 0 !important;
    }

    #main-pic-holder{
    	display: block;
    }
}